@import url('https://fonts.googleapis.com/css2?family=Anta&family=Anton&family=Inter:wght@100..900&family=M+PLUS+Rounded+1c:wght@700&display=swap" rel="stylesheet');

*{
    margin: 0;
    padding:0;
    font-family: Inter;
    font-size: 14pt;
}

body{
    overflow: auto;
}

body header{
    position:relative;
}
#menu-principal{
    display: flex;
    top: 0px;
    display: flex;
    text-align: left;
    background-color: #02134E;
    margin-left: -1rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.114);
    padding-bottom: 0.5rem;
    
}


#menu-principal img{
    display: block;
    width: 36%;
    height: 10%;
    padding: 1rem 0rem 1rem 10rem ;
    margin-bottom: -2%;
    margin-right: 10%;
}

.menu-itens{
    display: flex;
    list-style: none;
    margin-top: 3rem;
    justify-content:center;
    padding: 0%;
    margin-left: 8rem;
}

.menu-itens > li{
    display: flex;
    margin-left: 8%;
    align-items: center;
    color: white;
    transition: color   0.3s ease;
    cursor: pointer;
}

.menu-itens > li:hover{
    color: rgb(132, 132, 3);
}

#carouselExampleCaptions{
    display: flex;
    width: 100%;
}

.texto_slide_1{
    box-shadow: black;
    color: black;
    background-color: black;

}

.apresentação_loja{
    display: inline; 
}

.texto_itens{
    display: flex;
    margin-right: 15%;
    text-align: center;
    padding-bottom: 5%;
    padding: 0%;
}
.texto_itens img{
    width: 20%;
    margin-right: 5%;
    margin-top: 5%;
}

.texto_itens{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: -4%;
    padding: 0%;
    
}

.texto_itens p{
    font-size: 13pt;
}

.texto_itens .titulo{
    display: flex;
    padding: none;
    margin: 0% 25% -3%;
    font-size: 29pt;
}

.Saiba_mais{
    display: inline ;
    width: 10%;
    height: 5%;
    margin-left: 40rem;
    margin-top: 1%;
    background-color: #0D45C1;
    color: #E8E8E8;


}

#saiba_mais_maconaria:hover{
    background-color: rgb(236, 236, 232);
    color: black;
}
#row_noticias{
    background-color: rgb(221, 227, 229);
}
hr{
    color: black;
}

#row_noticias h3{
    padding-top: 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;

}
#row_noticias p{
    text-align: center;
}
.coluna_noticias ul{
    display:flex;
}

.coluna_noticias ul li{
    list-style: none;
}

.linha_noticia{
    display:contents;
}
.noticia{
    #background-color: bisque;
    width: 20%;
    height:10% ;
    text-align: center;
    margin-left: 2rem;
    padding-bottom: 16rem;
}

.noticia p{
    font-size: 12pt;
}
.noticia a{
    background-color: #02134E;
    padding: 1% 2% 1% 2%;
    border-radius: 0%;
    text-decoration: none white;
    color: white;
    font-size: 12pt;
}

.noticia:hover{
    background-color: darkgrey;
}

.noticia a:hover{
    background-color: rgb(132, 132, 3);
    color: black;
}



.imagem_noticias{
    width: 90%;
    margin-top: 1rem;

}




footer{
    display: flex;
    font-family: Inter;
    color: white;
    justify-content: center;
    margin-top: 8%;
    display: flex;
    position: sticky;
    top: 0px;
    display: flex;
    text-align: left;
    background-color: #02134E;
    margin-left: -1rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.114);
    padding-bottom: 0.5rem;
}

footer .contato{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5%;
    margin-top: 2%;
}
footer .contato h1{
    font-size: 19pt;
}